In [8]:
import pandas as pd
import mysql.connector 
from sqlalchemy import create_engine, inspect

# Connect to MySQL and create a database

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root"
)

mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS ubike")
mycursor.execute("CREATE DATABASE ubike")
mycursor.execute("USE ubike")

mydb.commit()
print("Changed")

mycursor.close()
mydb.close()

Changed

# Read CSV files and modify field names simultaneously→Input MySQL

In [10]:

file_path = r"C:\Users\a4011\OneDrive\桌面\side_project\Ubike\Data_Collection\Rent.csv"
data = pd.read_csv(file_path)

data['return_time'] = pd.to_datetime(data['return_time'])
data['rent_time'] = pd.to_datetime(data['rent_time'])

data['rental_period'] = data['rent']
data['return_date_time'] = data['return_time']
data['rent_date_time'] = data['rent_time']
data['rent_date'] = data['rent_time'].dt.date
data['rent_time'] = data['rent_time'].dt.time

desired_columns = ['rent_date_time', 'rent_date', 'rent_time', 'rent_station', 'return_station', 'rental_period', 'return_date_time', 'infodate']

data_rent_index = data[desired_columns]

print(data_rent_index)

           rent_date_time   rent_date rent_time rent_station return_station  \
0     2023-05-18 12:00:00  2023-05-18  12:00:00  捷運公館站(2號出口)        臺大教研館北側
1     2023-05-18 12:00:00  2023-05-18  12:00:00  捷運公館站(2號出口)    臺大第一活動中心西南側
2     2023-05-18 12:00:00  2023-05-18  12:00:00  捷運公館站(2號出口)        臺大社科院西側
3     2023-05-18 12:00:00  2023-05-18  12:00:00  捷運公館站(2號出口)       基隆長興路口東側
4     2023-05-18 12:00:00  2023-05-18  12:00:00  捷運公館站(2號出口)       臺大新生教室南側
...                   ...         ...       ...          ...            ...
34328 2023-05-05 17:00:00  2023-05-05  17:00:00  捷運公館站(2號出口)      大安運動中心停車場
34329 2023-05-05 17:00:00  2023-05-05  17:00:00  捷運公館站(2號出口)    臺大醫學院附設癌醫中心
34330 2023-05-05 17:00:00  2023-05-05  17:00:00  捷運公館站(2號出口)        臺大社科院西側
34331 2023-05-05 17:00:00  2023-05-05  17:00:00  捷運公館站(2號出口)         和平龍泉街口
34332 2023-05-05 17:00:00  2023-05-05  17:00:00  捷運公館站(2號出口)           文光公園

      rental_period    return_date_time   infodate
0          00:04:30 2023-05-18 12:00:00  2023/5/18
1          00:03:53 2023-05-18 12:00:00  2023/5/18
2          00:06:26 2023-05-18 12:00:00  2023/5/18
3          00:06:55 2023-05-18 12:00:00  2023/5/18
4          00:05:35 2023-05-18 12:00:00  2023/5/18
...             ...                 ...        ...
34328      00:09:18 2023-05-05 17:00:00   2023/5/5
34329      00:11:40 2023-05-05 17:00:00   2023/5/5
34330      00:07:02 2023-05-05 17:00:00   2023/5/5
34331      00:10:28 2023-05-05 17:00:00   2023/5/5
34332      00:14:48 2023-05-05 17:00:00   2023/5/5

[34333 rows x 8 columns]

In [11]:
host = "localhost"
user = "root"
password = "root"
database = "ubike"
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

table_name = "rent_index"

inspector = inspect(engine)
if inspector.has_table(table_name):
    with engine.connect() as connection:
        connection.execute(f"DROP TABLE {table_name}")
    print(f"Deleted existing {table_name} table")

data_rent_index.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
print(f"Data has been inserted MySQL {table_name} table")

Data has been inserted MySQL rent_index table

In [12]:
file_path = r"C:\Users\a4011\OneDrive\桌面\side_project\Ubike\Data_Collection\\Return.csv"
data = pd.read_csv(file_path)

data['return_time'] = pd.to_datetime(data['return_time'])
data['rent_time'] = pd.to_datetime(data['rent_time'])

data['rental_period'] = data['rent']
data['return_date_time'] = data['return_time']
data['rent_date_time'] = data['rent_time']
data['rent_date'] = data['rent_time'].dt.date
data['rent_time'] = data['rent_time'].dt.time

desired_columns = ['rent_date_time', 'rent_date', 'rent_time', 'rent_station', 'return_station', 'rental_period', 'return_date_time', 'infodate']

data_return_index = data[desired_columns]
print(data_return_index)

           rent_date_time   rent_date rent_time rent_station return_station  \
0     2023-05-18 09:00:00  2023-05-18  09:00:00   師範大學公館校區_1    捷運公館站(2號出口)
1     2023-05-18 16:00:00  2023-05-18  16:00:00   師範大學公館校區_1    捷運公館站(2號出口)
2     2023-05-18 09:00:00  2023-05-18  09:00:00      景美污水抽水站    捷運公館站(2號出口)
3     2023-05-18 20:00:00  2023-05-18  20:00:00   萬和三號公園(北側)    捷運公館站(2號出口)
4     2023-05-18 12:00:00  2023-05-18  12:00:00         仁愛醫院    捷運公館站(2號出口)
...                   ...         ...       ...          ...            ...
36509 2023-05-26 14:00:00  2023-05-26  14:00:00       寶藏巖觀音亭    捷運公館站(2號出口)
36510 2023-05-26 15:00:00  2023-05-26  15:00:00       寶藏巖觀音亭    捷運公館站(2號出口)
36511 2023-05-26 22:00:00  2023-05-26  22:00:00       臺大椰林小舖    捷運公館站(2號出口)
36512 2023-05-26 18:00:00  2023-05-26  18:00:00     臺大舊體育館西側    捷運公館站(2號出口)
36513 2023-05-26 16:00:00  2023-05-26  16:00:00      臺大工綜館南側    捷運公館站(2號出口)

      rental_period    return_date_time    infodate
0          00:04:40 2023-05-18 10:00:00  2023-05-18
1          01:45:48 2023-05-18 17:00:00  2023-05-18
2          00:03:53 2023-05-18 09:00:00  2023-05-18
3          00:10:12 2023-05-18 20:00:00  2023-05-18
4          00:28:27 2023-05-18 13:00:00  2023-05-18
...             ...                 ...         ...
36509      00:21:14 2023-05-26 14:00:00  2023-05-26
36510      00:04:17 2023-05-26 15:00:00  2023-05-26
36511      00:04:57 2023-05-26 22:00:00  2023-05-26
36512      00:04:10 2023-05-26 18:00:00  2023-05-26
36513      02:06:21 2023-05-26 18:00:00  2023-05-26

[36514 rows x 8 columns]

In [13]:

file_path = r"C:\Users\a4011\OneDrive\桌面\side_project\Ubike\Data_Collection\Return.csv"
data = pd.read_csv(file_path)
data['rent_time'] = pd.to_datetime(data['rent_time'])
data['rent_date'] = data['rent_time'].dt.date
data['rent_time'] = data['rent_time'].dt.time

host = "localhost"
user = "root"
password = "root"
database = "ubike"
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

table_name = "return_index"

inspector = inspect(engine)

if inspector.has_table(table_name):
    with engine.connect() as connection:
        connection.execute(f"DROP TABLE {table_name}")
    print(f"Deleted existing {table_name} table")
data_return_index.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
print(f"Data has been insertd MySQL  {table_name} table")

Data has been insertd MySQL  return_index table

In [15]:
file_path = r"C:\Users\a4011\OneDrive\桌面\side_project\Ubike\Data_Collection\day_condition.xlsx"
data = pd.read_excel(file_path)

host = "localhost"
user = "root"
password = "root"
database = "ubike"
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

table_name = "day_condition"

data['date'] = pd.to_datetime(data['date']).dt.date

inspector = inspect(engine)
if inspector.has_table(table_name):
    with engine.connect() as connection:
        connection.execute(f"DROP TABLE {table_name}")
    print(f"Deleted existing {table_name} table")

data.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
print(f"Data has been insertd MySQL {table_name} table")

Data has been insertd MySQL day_condition table

In [16]:
host = "localhost"
user = "root"
password = "root"
database = "ubike"
engine = create_engine(f"mysql+mysqlconnector://{user}:{password}@{host}/{database}")

sql_query = """
WITH re AS (
    SELECT dc.day_mode, rent_time, -COUNT(rent_station) AS num_rent FROM rent_index re
    JOIN day_condition dc ON re.rent_date = dc.date
    GROUP BY day_mode, rent_time
),
ru AS (
    SELECT dc.day_mode, rent_time, COUNT(rent_station) AS num_return FROM return_index ru
    JOIN day_condition dc ON ru.rent_date = dc.date
    GROUP BY day_mode, rent_time
)


SELECT * FROM (
SELECT 
    CASE 
        WHEN re.day_mode IS NOT NULL THEN re.day_mode
        ELSE ru.day_mode
    END AS day_mode,
    CASE 
        WHEN re.rent_time IS NOT NULL THEN re.rent_time
        ELSE ru.rent_time
    END AS rent_time,
    IFNULL(re.num_rent, 0) AS num_rent,
    IFNULL(ru.num_return, 0) AS num_return
FROM re
LEFT JOIN ru ON re.day_mode = ru.day_mode AND re.rent_time = ru.rent_time
UNION
SELECT 
    CASE 
        WHEN re.day_mode IS NOT NULL THEN re.day_mode
        ELSE ru.day_mode
    END AS day_mode,
    CASE 
        WHEN re.rent_time IS NOT NULL THEN re.rent_time
        ELSE ru.rent_time
    END AS rent_time,
    IFNULL(re.num_rent, 0) AS num_rent,
    IFNULL(ru.num_return, 0) AS num_return
FROM re
RIGHT JOIN ru ON re.day_mode = ru.day_mode AND re.rent_time = ru.rent_time
) AS union_result
ORDER BY day_mode, rent_time;
"""

query_result = pd.read_sql(sql_query, con=engine)

all_combinations = pd.MultiIndex.from_product([query_result['day_mode'].unique(), query_result['rent_time'].unique()], names=['day_mode', 'rent_time'])

merged_result = query_result.set_index(['day_mode', 'rent_time']).reindex(all_combinations, fill_value=0).reset_index()

merged_result['rent_time'] = pd.to_timedelta(merged_result['rent_time'])

merged_result['rent_time'] = merged_result['rent_time'].dt.components.hours.apply(lambda x: f'{x:02d}')

print(merged_result)

   day_mode rent_time  num_rent  num_return
0      A_WS        00      -185          95
1      A_WS        01       -41          17
2      A_WS        02       -16          10
3      A_WS        03        -6           1
4      A_WS        04        -8           2
..      ...       ...       ...         ...
91     D_HR        19      -109          86
92     D_HR        20      -101          67
93     D_HR        21       -89          67
94     D_HR        22       -38          33
95     D_HR        23       -40          27

[96 rows x 4 columns]

In [18]:
def calculate_avg(row, column):
    if row['day_mode'].startswith('A_WS'):
        return row[column] / 16
    elif row['day_mode'].startswith('B_WR'):
        return row[column] / 7
    elif row['day_mode'].startswith('C_HS'):
        return row[column] / 6
    elif row['day_mode'].startswith('D_HR'):
        return row[column] / 2
    else:
        return None 

merged_result['avg_rent'] = merged_result.apply(lambda row: calculate_avg(row, 'num_rent'), axis=1)
merged_result['avg_return'] = merged_result.apply(lambda row: calculate_avg(row, 'num_return'), axis=1)
merged_result['net_change'] = merged_result['avg_rent'] + merged_result['avg_return']
merged_result
print(merged_result)

   day_mode rent_time  num_rent  num_return  avg_rent  avg_return  net_change
0      A_WS        00      -185          95  -11.5625      5.9375     -5.6250
1      A_WS        01       -41          17   -2.5625      1.0625     -1.5000
2      A_WS        02       -16          10   -1.0000      0.6250     -0.3750
3      A_WS        03        -6           1   -0.3750      0.0625     -0.3125
4      A_WS        04        -8           2   -0.5000      0.1250     -0.3750
..      ...       ...       ...         ...       ...         ...         ...
91     D_HR        19      -109          86  -54.5000     43.0000    -11.5000
92     D_HR        20      -101          67  -50.5000     33.5000    -17.0000
93     D_HR        21       -89          67  -44.5000     33.5000    -11.0000
94     D_HR        22       -38          33  -19.0000     16.5000     -2.5000
95     D_HR        23       -40          27  -20.0000     13.5000     -6.5000

[96 rows x 7 columns]

In [10]:
import pandas as pd

excel_file_name = 'merged_result.xlsx'

merged_result.to_excel(excel_file_name, index=False)

print(f'{excel_file_name} saved successfully')

merged_result.xlsx 儲存成功